.main-container {
    margin-left: 25%;
    margin-right: 25%;

    .new-pweep {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;

        textarea {
            min-height: 75px;
            background-color: transparent;
            border-color: transparent;
            color: #ffffff;
        }
    }

    .image-upload>input {
        display: none;
    }

    .divider-section {
        height: 10px;
        background-color: #253341;
    }

    .pweep-list {
        .pweep {
            display: flex;
            flex-direction: row;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

.grey-thin-border {
    border-left: 1px solid #38444D;
    border-right: 1px solid #38444D;
    border-top: 1px solid #38444D;
}

.profile_pic {
    height: 3em;
    width: 3em;
    background-color: transparent;
    border: unset;
}
