/* SCSS HEX */
$xiketic: #050517ff;
$flame: #cf5c36ff;
$gold-crayola: #efc88bff;
$banana-mania: #f4e3b2ff;
$light-gray: #d3d5d7ff;

.navbar {
    background-color: #0B1116;
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.search-bar {
    display: flex;
    flex-direction: row;

    input {
        background: #253341;
        border-color: #253341;

        :active {
            background: #35495B;
            border-color: #35495B;
        }
    }

    .input-group-prepend:hover {
        cursor: pointer;
    }

    .search-button {
        background: #253341;
        border-color: #253341;
        color: whitesmoke;
    }

    .dropdown-menu {
        background: #253341;

        :hover {
            background: #35495B;
            border-color: #35495B;
        }
    }
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
}

body {
    background-color: #15202B;
    color: whitesmoke;
}

.base-container {
    padding-top: 55px;
}

#navbarToggler {
    a {
        color: whitesmoke;
    }
}
