.profile-container {
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .nav-tabs {
        border: unset;

        .nav-item {
            padding: 0;
            border: unset;

            a {
                color: #8393A1;
            }

            :hover {
                background-color: #162D40;
                color: #1DA1F2;
                border: unset;
            }

            .active {
                color: #1DA1F2;
                font-weight: bold;
                border-bottom: 3px solid #1DA1F2;
            }
        }
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: unset;
    border: unset;
}

.profile-pic-container {
    height: 142px;
    width: 142px;
    position: relative;
    top: -80px;
    margin-bottom: -75px;
}

.profile-action-buttons {
    margin-top: 20px;
    margin-right: 20px;
}

.profile-pic {
    height: 142px;
    width: 142px;
    border: unset;
    background: #15202B;
    object-fit: cover;
}
