/* SCSS HEX */

.navbar {
  background-color: #0B1116;
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
  z-index: 999999;
  height: 75px;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-bar input {
  background: #253341;
  border-color: #253341;
}

.search-bar input :active {
  background: #35495B;
  border-color: #35495B;
}

.search-bar .input-group-prepend:hover {
  cursor: pointer;
}

.search-bar .search-button {
  background: #253341;
  border-color: #253341;
  color: whitesmoke;
}

.search-bar .dropdown-menu {
  background: #253341;
}

.search-bar .dropdown-menu :hover {
  background: #35495B;
  border-color: #35495B;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
  display: block;
}

body {
  background-color: #15202B;
  color: whitesmoke;
}

.base-container {
  padding-top: 74px;
}

.modal-content {
  color: white;
  padding-top: 40px;
  background-color: #35495B;
  border-radius: 5%;
}

#navbarToggler a {
  color: whitesmoke;
}

.main-container {
  margin-left: 25%;
  margin-right: 25%;
}

.main-container .new-pweep {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.main-container .new-pweep textarea {
  min-height: 75px;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

.main-container .image-upload > input {
  display: none;
}

.main-container .divider-section {
  height: 10px;
  background-color: #253341;
}

.main-container .pweep-list .pweep {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-container .pweep-list .dropdown {
  color: white;
}

.main-container .pweep-list .dropdown .dropdown-menu {
  background: #253341;
}

.main-container .pweep-list .dropdown .dropdown-menu a {
  color: white;
}

.main-container .pweep-list .dropdown .dropdown-menu :hover {
  background: #35495B;
  border-color: #35495B;
}

.grey-thin-border {
  border-left: 1px solid #38444D;
  border-right: 1px solid #38444D;
  border-top: 1px solid #38444D;
}

.profile_pic {
  height: 3em;
  width: 3em;
  background-color: transparent;
  border: unset;
}

.form-card {
  background-color: #35495B;
  border: #35495B;
  margin-top: 5%;
}

.form-card .card-header {
  background-color: #253341;
}

.profile-container p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.profile-container .nav-tabs {
  border: unset;
}

.profile-container .nav-tabs .nav-item {
  padding: 0;
  border: unset;
}

.profile-container .nav-tabs .nav-item a {
  color: #8393A1;
}

.profile-container .nav-tabs .nav-item :hover {
  background-color: #162D40;
  color: #1DA1F2;
  border: unset;
}

.profile-container .nav-tabs .nav-item .active {
  color: #1DA1F2;
  font-weight: bold;
  border-bottom: 3px solid #1DA1F2;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: unset;
  border: unset;
}

